/**
 * @file
 * Styles are organized using the SMACSS technique. @see http://smacss.com/book/
 *
 * When you turn on CSS aggregation at admin/config/development/performance, all
 * of these @include files will be combined into a single file.
 */

/* Import Sass mixins, variables, Compass modules, etc. */
@import "init";

/* HTML element (SMACSS base) rules */
@import "normalize";

/* Layout rules */
@import "layouts/responsive";

/* Component (SMACSS module) rules */
@import "components/misc";
// Optionally, add your own components here.
@import "components/variables";


@import "print";

/* SMACSS theme rules */
/* @import "theme-A"; */
/* @import "theme-B"; */

/* General HTML elements */
body {
  font-family: Arial;
  font-size: 0.875em;
}

a, a:link, a:hover {
  text-decoration: none;
  color: $mainColor1;
}

a:hover {
  color: $mainColor2;
  border-bottom: 1px solid $mainColor2;
}

p {
  margin-bottom: 10px;
}

h1 {
  color: $mainColor1;
  text-transform: uppercase;
  font-size: 2em;
  line-height: 1.3;
  font-weight: 600;
  font-family: "Open Sans";
  &#page-title {
    margin: 15px 0;  
  }
}

h2 {
  color: $subColor1;
  font-family: "Open Sans";
  font-weight: 600;
}

ul {
  margin-top: 0;
  margin-bottom: 0;
}

/* Layout */
#page {
  max-width: 960px;
}

/* Site Name */
#name-and-slogan {
  width: 100%;
  float: none;
	h1#site-name {
	  a {
	    display: block;
		  background: url(../images/header-temp.jpg) no-repeat left top;
		  text-indent: -999em;
		  height: 170px;
		  &:hover {
		    border-bottom: none;
		  }
	  }
	}
}

/* Main Menu */
#main-menu {
  ul.links {
	  li {
	    padding-right: 20px;
	    a {
	      text-transform: uppercase;
	    }
	  }
	}
}

/* Breadcrumb */
.breadcrumb {
  font-size: 0.75em;
}

/* Left Sidebar (blocks) */
.region-sidebar-first {
  .block {
    border-right: 1px solid $mainColor1;
    margin: 0;
    padding-bottom: 20px;
    line-height: 1.2;  
    h2.block-title {
      margin: 0;
      margin-bottom: 10px;
      background: $subColor1;
      color: white;
      font-size: 0.9375em;
      font-weight: lighter;
      line-height: 1.3;
      padding: 7px 12px;
      text-transform: uppercase;
    }
    ul {
      margin: 0;
      padding: 0;
      li {
        margin: 5px 10px 0 10px;
        padding: 0;
        list-style: none;
      }
    }
  }
  a {
    color: $subColor1;
    &:hover {
      color: $mainColor2;
    }
  }
}

/* Views Lists */
#content .view {
  ul.items {
    margin: 0;
    padding: 0;
    li {
      margin: 0;
      padding: 0;
      margin-bottom: 20px;
      list-style: none;
      p {
        margin-top: 0;
        margin-bottom: 5px;
      }
    }
  }
}

/* Research Theme */
.node-type-research-theme {
  .field-name-field-research-image {
    .field-items {
      .field-item {
        float: left;
        margin-right: 10px;
        a {
          &:hover {
            border: none;
          }
        }
      }
    }
  }
}

/* Team members */
ul.members {
  margin: 0;
  padding: 0;
  li {
    margin: 0;
    padding: 0;
    list-style: none;
    float: left;
    margin-right: 2%;
    width: 18%;
    margin-bottom: 20px;
    line-height: 1;
    &.first {
      clear: left;
    }
    .views-field-field-user-profile-picture {
      margin-bottom: 5px;
	    a {
	      border: none;
	      &:hover {
	        border: none;
	      }
	    }
    }
  }
}